body {
    background-color: black;
    color: cyan;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

img {
    width: 150px;
}

nav {
    background: black;
    padding: 10px;
}

.button-group button {
    background-color: cyan;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
